java/trunk/src/main/resources/response/xsd/image.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="common.xsd"/>

  
  <xs:complexType name="imageType">
    <xs:sequence>
      <xs:element type="hex_40" name="id" minOccurs="0"/>
      <xs:element name="width" minOccurs="0" type="xs:short"/>
      <xs:element type="xs:short" name="height" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>