java/trunk/src/main/resources/response/xsd/load_tracks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="track.xsd"/>

  <xs:element name="result" type="resultType"/>
  <xs:complexType name="resultType">
    <xs:sequence>
      <xs:element type="xs:long" name="version"/>
      <xs:element type="xs:long" name="total-tracks"/>
      <xs:element type="tracksType" name="tracks"/>
    </xs:sequence>
  </xs:complexType>


</xs:schema>